<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name="com.circlebox.sdk.CircleBoxInitProvider"
            android:authorities="${applicationId}.circlebox-init"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>
